
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    {% for record in object_list %}
                <!--列要素配置-->
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                            width="100%" heigth="225" xmlns="https://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                        </img>
                        <!--タイトルとボタンを出力-->
                        <div class="card-body">
                            <p class="card-text">
                                {{record.title}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <butto type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url 'news:news_detail' record.pk %}'">View</butto>
                                    <button type="button" class="btn btn-sm
                                    btn-outline-secondary" onclick="location.href='{% url 'news:newses_cat' category=record.category.id %}'">{{record.category.title}}</button>
                                </div>
                            </div>
                            <!--テキスト変更-->
                            <a href="{% url 'news:user_list' user=record.user.id %}">
                                <small class="text-muted">{{record.user.username}}</small>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </article>
